<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directionsAPIUrl</key>
	<string>https://maps.googleapis.com/maps/api/directions/json?</string>
	<key>placesAPIUrl</key>
	<string>https://maps.googleapis.com/maps/api/place/nearbysearch/json?</string>
	<key>googleAPIKey</key>
	<string>AIzaSyDS8N3_J0XJ4OwKElqCRwAqW1-AYB41glA</string>
</dict>
</plist>
